* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: sans-serif;
}

.main {
    display: flex;
}

.lado-esquerdo {
    width: 40%;
    height: 100vh;
    background-color: rgba(43, 196, 137, 0.884);
    display: flex;
    justify-content: center;
    align-items: center;
}

.signin {
    width: 60%;
    color: white;
    text-align: center;
}

.signin p {
    padding: 20px;
    opacity: 0.9;
    line-height: 1.8;
}

.signin button{
    background: none;
    border: 1px solid white;
    border-radius: 18px;
    color: white;
    width: 50%;
    padding: 10px;
    text-transform: uppercase;
    cursor: pointer;
}

.signin button:hover {
    background-color: rgba(255, 255, 255, 0.192);
    transition: 500ms ;   
}

.lado-direito {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
}

.create-account {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 45%;
}

.create-account h1 {
    padding: 20px;
}

.create-account p {
    padding: 10px;
}

.icons {
    margin: 10px 0 20px 0;
}

.icons img {
    margin-right: 15px;
    width: 30px;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
}

form input {
    padding: 15px;
    margin-bottom: 10px;
    border: none;
    background-color: rgba(211, 211, 211, 0.486);
}

form button {
    width: 60%;
    margin: 15px auto auto auto;
    padding: 10px;
    border-radius: 18px;
    background-color: rgba(43, 196, 137, 0.884);;
    border: none;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}

form button:hover {
    background-color: rgb(43, 196, 137);;
}


